body {
    background-color: #1593a9;
}

.main-div {
    background-color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 15px;
}

.menu-div {
    background-color: #acd6e6;
    border-radius: 15px;
    margin-bottom: 10px;;
}

.closed {
    background-color: #df4242;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.opening-hours {
    background-color: #d4d4d4;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
}

.opening-hours h {
    font-size: 20px;
    color: #ff0000;
    font-weight: 700;
}

.contact {
    background-color: #d4d4d4;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
}

.contact h {
    font-size: 20px;
    color: #ff0000;
    font-weight: 700;
}

.tab-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #0080d6;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
}

.button-selected {
    background-color: #ffffff;
}